body {
  font-family: sans-serif;
  background-color: black;
  font-size: 12px;
  color: black;
}

div.character {
  background-color: white;
  width: 80%;
  margin: 1px auto;
  padding: 2px 2px;
  text-align: center;
}

.header-box {
  background-color: white;
  margin: 0px auto;
  padding: 20px 0px;
}

.header-box h1 {
  font-size: 36px;
  vertical-align: center;
}

#basics {
  width: 95%;
  padding-bottom: 8px;
  vertical-align: center;
}

#header table {
  background-color: black;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

#header table thead tr th {
  background-color: white;
  width: 16.5%;
  padding: 6px 0px;
  font-size: 22px;
}

#header table tbody tr td {
  background-color: white;
  width: 16%;
  padding: 4px 0px;
  font-size: 18px;
}

.stat {
  background-color: white;
  width: 16%;
  margin: 0px;
  padding: 2px 0px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.stat h1 {
  font-size: 24px;
  margin: 4px;
}

.main {
  font-size: 30px;
  margin: 0px;
}

.plus {
  font-size: 22px;
  margin: 4px auto 1px;
  padding: 0px;
  width: 20%;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.box {
  background-color: white;
  width: 20%;
  margin: 0px;
  display: inline-block;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#charstate .box {
  background-color: white;
  margin: 1px 0px;
  padding: 4px 0px;
  vertical-align: middle;
}

#charstate .in-box-p {
  font-size: 20px;
  margin: 8px 0px;
}

#inspiration p {
  font-size: 20px;
  margin: 6px 0px;
}

.fill-in {
  width: 25%;
  height: 7px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 20%;
  margin: 3px auto 0px auto;
  padding: 12px 2px;
}

.circle {
  font-size: 0px;
  margin: 4px auto;
  margin-right: 12px;
  padding: 0px;
  height: 20px;
  width: 20px;
  border: 2px;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.fill {
  background-color: black;
}

.three .box{
  background-color: white;
  width: 33%;
  margin: 1px 0px;
  padding: 4px 0px;
}

.four .box {
  background-color: white;
  width: 24.7%;
  margin: 1px 0px;
  padding: 4px 0px;
}

.in-box-p {
  font-size: 20px;
  margin: 8px 0px;
}

.st {
  background-color: white;
  margin: 1px 0px;
  padding: 2px 0px;
  width: 24.7%;
  display: inline-block;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.super_st {
  background-color: white;
  margin: 1px 0px;
  padding: 2px 0px;
  width: 74.6%;
  display: inline-block;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.st h1 {
  font-size : 24px;
  margin: 8px;
}

.super_st h1 {
  font-size: 24px;
  margin: 8px;
}

.st p {
  font-size: 20px;
  margin: 8px 0px;
  display: inline-block;
  vertical-align: middle;
}

.st .plus {
  margin-left: 12px;
  margin-bottom: 4px;
  width: 10%;
}

.super-box {
  background-color: white;
  margin: 0px auto 0px auto;
  padding: 2px 0px;
  width: 99.45%;
}

.super-box h1 {
  font-size: 28px;
  margin: 8px;
}

.super-box table {
  margin: 0px auto;
  padding: 0px 0px;
  background-color: black;
  width: 99.65%;
  font-size: 20px;
}

.super-box table thead tr th {
  background-color: white;
  padding: 6px 0px;
}

.super-box table tbody tr td {
  background-color: white;
  font-size: 18px;
  padding: 4px 0px;
}

.thirty {
  width: 30%;
}

.three-five {
  width: 35%;
}

.twenty-five {
  width: 25%;
}

.twenty {
  width: 20%;
}

.forty {
  width: 40%;
}

.ten {
  width: 10%;
}

#equipment .box {
  padding: 0px;
  margin: 2px auto;
  display: inline-block;
  vertical-align: top;
}

#money {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}

.cash {
  background-color: white;
  margin: 2px auto;
  width: 19.4%;
  display: inline-block;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.cash p {
  display: inline-block;
  padding: 1px;
  margin: 0px 20px;
  font-size: 20px;
}

#overall {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}

#slots {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}

.txt {
  background-color: white;
  text-align: left;
  margin: 0px auto 1px auto;
  padding: 4px 0px;
  width: 99.45%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.txt h1 {
  font-size: 24px;
  margin: 4px 0px;
  text-align: center;
}

.txt p {
  margin: 4px;
  padding: 4px;
  font-size: 16px;
}

.content input {
  font-size: 16px;
  vertical-align: middle;
  margin: 1px auto;
  width: 50%;
  margin: 2px;
}

.content input.checkbox {
  width: 10px;
  height: 10px;
  margin: 1px 4px;
}

.header-box input {
  font-size: 36px;
  font-weight: bold;
  width: 50%;
  text-align: center;
}

.hp input {
  width: 30%;
}

.content textarea {
  font-size: 16px;
  width: 99.5%;
  margin: 1px auto;
}

#submit {
  width: 80%;
  height: 50px;
  font-size: 18px;
}

#inspiration input {
  height: 34px;
  width: auto;
}
